<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | absolute_url }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    {% feed_meta %}
    {% seo %}
  </head>
  <body class="body-home">
    {% include navigation.html %}
    <main>
      {{ content }}      
    </main>
    {% comment %}{% include objects.html%}{% endcomment %}
    {% include footer.html%}
  </body>
</html>
